**D1DAE: Análise Estatística para Ciência de Dados (2021.1)** <br/>
IFSP Campinas

Profs: Ricardo Sovat, Samuel Martins <br/><br/>

<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sns.set_style("whitegrid")

params = {'legend.fontsize': 'x-large',
          'figure.figsize': (15, 5),
         'axes.labelsize': 'x-large',
         'axes.titlesize':'x-large',
         'xtick.labelsize':'x-large',
         'ytick.labelsize':'x-large'}
plt.rcParams.update(params)

# <font color='#0C509E' style='font-size: 40px;'>Logistic Regression - v2</font>

## 1. Importing the data

This is a dummy dataset that pesents if customers have purchased a given product or not.<br/>

**Dataset:** https://www.kaggle.com/rakeshrau/social-network-ads

In [3]:
df = pd.read_csv('./datasets/Social_Network_Ads.csv')

In [4]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

## 2.Extracting the independent and dependent variables
For visualization purposes, we will consider only **two independent variables** (_Age_ and _EstimatedSalary_) for training the logistic regressor.

In [6]:
X = df[['Age', 'EstimatedSalary']]
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [7]:
y = df['Purchased']
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

## 3. Splitting the dataset into Training Set and Test Set
https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

**PS:** Use _stratified_ split.

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
X_train

     Age  EstimatedSalary
3     27            57000
18    46            28000
202   39           134000
250   44            39000
274   57            26000
..   ...              ...
71    24            27000
106   26            35000
270   43           133000
348   39            77000
102   32            86000

[320 rows x 2 columns]

In [11]:
y_train

3      0
18     1
202    1
250    0
274    1
      ..
71     0
106    0
270    0
348    0
102    0
Name: Purchased, Length: 320, dtype: int64

In [12]:
X_test

     Age  EstimatedSalary
209   46            22000
280   59            88000
33    28            44000
210   48            96000
93    29            28000
..   ...              ...
246   35            50000
227   56           133000
369   54            26000
176   35            47000
289   37            78000

[80 rows x 2 columns]

##### **Checking training and test set sizes**

In [13]:
X.shape, y.shape

((400, 2), (400,))

In [14]:
X_train.shape, y_train.shape

((320, 2), (320,))

In [15]:
X_test.shape, y_test.shape

((80, 2), (80,))

##### Saving the samples' indices for visualization purposes

In [16]:
train_indices = X_train.index
test_indices = X_test.index

## 4. Normalizando os dados

**StandardScaler**: https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html

In [17]:
X_train[:3]

     Age  EstimatedSalary
3     27            57000
18    46            28000
202   39           134000

In [19]:
X_test[:3]

     Age  EstimatedSalary
209   46            22000
280   59            88000
33    28            44000

In [20]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# descobrindo qual é a média e desvio padrão de cada feature (coluna)
scaler.fit(X_train)

StandardScaler()

In [29]:
scaler.mean_

array([3.7871875e+01, 7.0281250e+04])

In [30]:
scaler.scale_

array([1.01915631e+01, 3.43767130e+04])

In [28]:
X_train.describe()

              Age  EstimatedSalary
count  320.000000        320.00000
mean    37.871875      70281.25000
std     10.207525      34430.55286
min     18.000000      15000.00000
25%     30.000000      43000.00000
50%     37.000000      71000.00000
75%     45.000000      88000.00000
max     60.000000     150000.00000

In [32]:
X_train = scaler.transform(X_train)
X_train

array([[-1.06675246, -0.38634438],
       [ 0.79753468, -1.22993871],
       [ 0.11069205,  1.853544  ],
       [ 0.60129393, -0.90995465],
       [ 1.87685881, -1.28811763],
       [-0.57615058,  1.44629156],
       [ 0.3069328 , -0.53179168],
       [ 0.99377543,  0.10817643],
       [-1.16487283,  0.45724994],
       [-1.55735433,  0.31180264],
       [ 1.0918958 ,  0.45724994],
       [-0.18366908, -0.47361276],
       [ 0.20881242, -0.32816546],
       [ 0.3069328 ,  0.28271318],
       [-1.16487283, -1.57901222],
       [ 0.11069205,  0.25362372],
       [ 2.07309956,  1.73718616],
       [ 0.40505317, -0.18271817],
       [ 1.4843773 ,  2.11534913],
       [-0.37990983,  1.21357589],
       [ 1.87685881,  1.50447048],
       [ 0.11069205,  0.02090805],
       [ 0.89565505, -1.31720709],
       [-1.36111358, -1.49174384],
       [-0.18366908, -0.5899706 ],
       [-0.57615058,  2.31897535],
       [ 0.99377543, -1.20084925],
       [-0.77239133,  1.06812859],
       [ 2.17121993, -1.05540195],
       [ 0.01257167, -0.26998655],
       [-0.4780302 , -1.14267033],
       [ 0.11069205,  0.02090805],
       [ 1.68061805, -0.90995465],
       [ 1.0918958 , -0.90995465],
       [ 0.50317355,  1.21357589],
       [-1.06675246, -1.46265438],
       [-1.16487283, -1.54992276],
       [-0.0855487 ,  0.66087616],
       [ 0.40505317, -0.47361276],
       [-0.28178945, -0.26998655],
       [-0.87051171,  0.13726589],
       [ 0.01257167,  0.28271318],
       [ 0.6994143 , -1.28811763],
       [ 1.58249768,  1.09721805],
       [ 0.79753468, -1.37538601],
       [-1.45923396, -1.22993871],
       [-0.0855487 ,  0.13726589],
       [ 0.40505317, -0.15362871],
       [-0.28178945,  0.02090805],
       [ 1.28813655,  2.20261751],
       [ 0.11069205,  0.74814454],
       [-1.36111358,  0.54451832],
       [ 1.97497918,  0.71905508],
       [-1.26299321, -1.40447546],
       [ 0.3069328 , -0.32816546],
       [-0.96863208,  0.54451832],
       [ 0.40505317,  0.28271318],
       [ 0.40505317,  1.09721805],
       [ 0.79753468,  0.74814454],
       [ 0.89565505,  1.24266535],
       [-0.4780302 , -1.22993871],
       [-1.85171546, -1.31720709],
       [ 1.0918958 ,  0.54451832],
       [-0.67427095, -1.60810168],
       [-0.77239133,  0.25362372],
       [ 0.99377543,  2.05717021],
       [-0.57615058,  1.35902318],
       [-0.0855487 ,  0.02090805],
       [-1.94983583,  0.45724994],
       [ 0.40505317,  0.25362372],
       [-1.06675246,  0.39907102],
       [ 0.20881242, -0.15362871],
       [ 1.87685881,  0.10817643],
       [-1.16487283, -1.60810168],
       [-1.16487283,  0.28271318],
       [-0.87051171, -0.79359682],
       [-0.4780302 ,  2.28988589],
       [ 0.11069205, -0.82268628],
       [ 1.58249768,  0.98086021],
       [-0.18366908, -1.08449141],
       [ 0.79753468, -1.11358087],
       [ 0.20881242,  2.08625967],
       [-0.0855487 , -0.24089709],
       [-0.87051171,  2.26079643],
       [-0.0855487 , -0.38634438],
       [-0.28178945, -0.5899706 ],
       [ 0.40505317, -0.50270222],
       [-0.28178945, -0.93904411],
       [ 0.3069328 , -1.17175979],
       [ 0.20881242,  0.04999751],
       [-1.16487283, -1.60810168],
       [-0.67427095, -0.06636033],
       [-0.28178945, -0.50270222],
       [-0.28178945, -1.31720709],
       [-0.77239133,  0.54451832],
       [ 0.3069328 ,  0.04999751],
       [-0.96863208,  1.53355994],
       [ 0.79753468,  0.3408921 ],
       [-1.55735433, -0.21180763],
       [ 0.6994143 , -1.40447546],
       [-0.77239133, -0.61906006],
       [-0.37990983, -1.31720709],
       [ 0.20881242,  0.13726589],
       [-0.57615058,  1.35902318],
       [-1.45923396,  0.3408921 ],
       [-1.16487283,  0.28271318],
       [ 0.99377543,  1.76627562],
       [ 2.07309956,  2.11534913],
       [-0.28178945, -0.4445233 ],
       [-0.37990983, -0.79359682],
       [ 0.11069205, -0.26998655],
       [-1.06675246,  0.74814454],
       [ 2.17121993,  0.36998156],
       [-1.36111358, -0.4445233 ],
       [ 1.97497918,  2.14443859],
       [ 1.4843773 ,  0.98086021],
       [-0.28178945,  0.25362372],
       [-0.18366908,  0.83541291],
       [ 1.87685881, -0.29907601],
       [-0.0855487 ,  1.94081237],
       [-0.4780302 , -0.79359682],
       [ 0.3069328 ,  0.02090805],
       [ 1.38625693, -1.43356492],
       [ 1.38625693,  2.31897535],
       [-0.0855487 , -0.00818141],
       [-1.16487283,  0.39907102],
       [-1.16487283,  0.04999751],
       [-1.16487283, -0.53179168],
       [ 0.3069328 , -0.29907601],
       [-0.67427095, -0.12453925],
       [-0.0855487 ,  2.14443859],
       [ 0.01257167, -0.26998655],
       [-0.67427095, -1.05540195],
       [ 0.40505317,  0.13726589],
       [ 0.79753468,  1.35902318],
       [-0.18366908, -0.53179168],
       [ 0.01257167,  0.02090805],
       [ 1.0918958 ,  0.51542886],
       [ 1.87685881, -1.08449141],
       [ 0.99377543,  1.96990183],
       [ 0.89565505, -0.5899706 ],
       [-0.4780302 , -0.03727087],
       [-0.0855487 ,  2.20261751],
       [-1.75359508,  0.3408921 ],
       [ 0.20881242, -0.67723898],
       [-0.28178945, -1.40447546],
       [-1.75359508, -0.99722303],
       [ 0.6994143 , -0.7354179 ],
       [-1.16487283, -0.79359682],
       [ 1.97497918,  0.89359183],
       [ 0.20881242, -0.38634438],
       [ 0.01257167,  1.21357589],
       [-0.0855487 ,  0.28271318],
       [ 1.0918958 , -1.22993871],
       [-0.18366908,  0.13726589],
       [ 0.3069328 ,  0.04999751],
       [-0.28178945, -0.29907601],
       [ 0.50317355,  1.7080967 ],
       [ 0.3069328 ,  0.4863394 ],
       [ 0.01257167,  1.24266535],
       [ 1.97497918, -1.37538601],
       [-1.16487283, -1.11358087],
       [-0.57615058, -1.5208333 ],
       [ 0.3069328 , -0.53179168],
       [-0.67427095, -1.5208333 ],
       [-0.28178945,  0.51542886],
       [ 0.99377543, -1.02631249],
       [-1.06675246,  0.54451832],
       [-0.28178945,  0.777234  ],
       [ 0.40505317,  0.07908697],
       [-1.65547471, -0.06636033],
       [ 0.3069328 ,  0.04999751],
       [-0.4780302 , -0.29907601],
       [ 0.11069205,  1.853544  ],
       [-0.96863208,  0.39907102],
       [ 0.79753468,  0.51542886],
       [-1.36111358, -0.35725492],
       [-0.67427095,  1.38811264],
       [ 1.19001618,  0.51542886],
       [-1.75359508,  0.3408921 ],
       [-0.57615058,  1.88263345],
       [-1.75359508,  0.45724994],
       [-0.28178945, -1.25902817],
       [-0.87051171, -0.79359682],
       [-1.65547471,  0.51542886],
       [-0.28178945, -0.32816546],
       [ 0.6994143 , -1.11358087],
       [ 2.17121993, -0.82268628],
       [-0.28178945,  0.60269724],
       [-0.28178945, -0.76450736],
       [-1.94983583, -0.76450736],
       [ 0.40505317,  2.28988589],
       [ 0.6994143 ,  0.25362372],
       [ 0.20881242, -0.29907601],
       [-1.36111358, -1.37538601],
       [-0.4780302 , -0.56088114],
       [ 0.40505317, -0.00818141],
       [ 1.68061805,  1.73718616],
       [ 1.19001618, -0.76450736],
       [ 0.99377543,  1.4172021 ],
       [-1.85171546,  0.16635535],
       [ 0.3069328 ,  0.04999751],
       [ 0.20881242,  0.02090805],
       [-1.06675246,  0.51542886],
       [-0.18366908,  1.62082832],
       [-0.28178945,  0.13726589],
       [-0.28178945, -0.35725492],
       [-0.37990983,  1.30084427],
       [-0.28178945,  0.07908697],
       [ 2.17121993,  1.09721805],
       [-1.26299321,  0.4863394 ],
       [-1.06675246, -0.47361276],
       [-1.65547471, -1.57901222],
       [-0.0855487 ,  0.10817643],
       [-0.28178945, -0.90995465],
       [ 1.58249768, -0.00818141],
       [ 0.89565505, -1.17175979],
       [ 0.01257167, -0.5899706 ],
       [-0.28178945,  2.23170697],
       [-0.28178945,  0.19544481],
       [ 0.3069328 ,  0.25362372],
       [-0.0855487 , -1.08449141],
       [ 2.17121993, -0.70632844],
       [-0.96863208, -0.32816546],
       [-1.45923396, -0.12453925],
       [-1.45923396, -0.21180763],
       [-0.77239133, -1.54992276],
       [-1.26299321, -1.08449141],
       [ 2.07309956,  0.36998156],
       [ 1.97497918, -0.93904411],
       [-1.94983583,  0.3408921 ],
       [ 0.79753468, -0.32816546],
       [-1.06675246, -1.54992276],
       [ 1.97497918, -0.67723898],
       [ 0.99377543, -1.17175979],
       [ 1.0918958 , -0.15362871],
       [ 1.19001618, -0.99722303],
       [ 1.4843773 ,  0.04999751],
       [ 0.20881242, -0.38634438],
       [ 1.38625693,  1.27175481],
       [ 2.07309956, -0.82268628],
       [-0.18366908, -0.21180763],
       [ 0.40505317,  0.98086021],
       [-0.0855487 , -0.53179168],
       [ 0.99377543, -1.08449141],
       [ 2.07309956, -1.20084925],
       [-0.0855487 ,  0.25362372],
       [ 0.20881242, -0.26998655],
       [ 1.0918958 ,  0.10817643],
       [-1.26299321,  0.57360778],
       [-0.77239133, -1.60810168],
       [ 0.20881242,  0.22453427],
       [-1.36111358,  0.39907102],
       [ 0.01257167, -0.5899706 ],
       [ 0.6994143 ,  1.76627562],
       [-1.65547471,  0.04999751],
       [-0.28178945, -1.37538601],
       [-0.28178945, -1.46265438],
       [-0.67427095,  0.54451832],
       [-0.77239133,  0.28271318],
       [ 0.89565505, -0.67723898],
       [-1.06675246,  0.57360778],
       [-0.28178945,  0.04999751],
       [-0.77239133,  1.32993372],
       [ 0.11069205,  1.50447048],
       [-0.87051171,  0.36998156],
       [ 0.3069328 , -0.21180763],
       [ 0.99377543,  0.57360778],
       [ 0.01257167, -0.32816546],
       [-0.57615058, -1.5208333 ],
       [ 0.11069205,  0.13726589],
       [-1.16487283,  0.31180264],
       [ 0.11069205,  1.03903913],
       [-1.55735433, -0.4445233 ],
       [-0.18366908,  1.38811264],
       [ 2.17121993, -0.82268628],
       [-0.96863208, -0.4445233 ],
       [ 1.28813655,  1.853544  ],
       [ 1.0918958 , -1.22993871],
       [-0.18366908, -0.29907601],
       [ 1.77873843,  0.98086021],
       [-1.06675246, -0.35725492],
       [-1.36111358, -1.11358087],
       [-0.37990983,  0.04999751],
       [-0.96863208, -1.11358087],
       [ 1.19001618, -1.46265438],
       [-0.4780302 , -0.85177573],
       [-0.87051171, -0.67723898],
       [-1.55735433, -1.5208333 ],
       [-0.77239133,  1.88263345],
       [ 0.89565505,  1.00994967],
       [ 0.79753468,  0.25362372],
       [ 0.99377543,  1.853544  ],
       [ 0.89565505, -0.61906006],
       [ 1.0918958 ,  2.05717021],
       [-0.57615058,  0.86450237],
       [ 0.01257167,  0.02090805],
       [-1.85171546, -1.28811763],
       [-0.0855487 ,  0.19544481],
       [ 0.89565505, -0.56088114],
       [ 0.20881242, -0.38634438],
       [-0.18366908,  1.59173886],
       [-1.75359508,  0.10817643],
       [-0.67427095, -0.35725492],
       [ 0.3069328 , -0.7354179 ],
       [ 0.40505317, -0.47361276],
       [-0.96863208, -0.96813357],
       [ 0.11069205,  0.07908697],
       [-0.96863208,  0.42816048],
       [ 0.01257167, -0.56088114],
       [ 0.89565505, -0.79359682],
       [-0.0855487 ,  0.04999751],
       [ 1.0918958 , -0.99722303],
       [ 0.6994143 , -1.40447546],
       [-0.28178945,  0.04999751],
       [-1.36111358, -1.25902817],
       [-1.16487283, -1.02631249],
       [ 0.50317355,  1.82445454],
       [ 0.11069205,  0.19544481],
       [-0.57615058,  0.45724994]])

In [33]:
X_test = scaler.transform(X_test)
X_test

array([[ 0.79753468, -1.40447546],
       [ 2.07309956,  0.51542886],
       [-0.96863208, -0.76450736],
       [ 0.99377543,  0.74814454],
       [-0.87051171, -1.22993871],
       [-0.77239133, -0.24089709],
       [ 0.89565505,  1.06812859],
       [-0.87051171,  0.36998156],
       [ 0.20881242,  0.13726589],
       [ 0.40505317, -0.15362871],
       [-0.28178945, -0.15362871],
       [ 1.4843773 , -1.05540195],
       [-1.45923396, -0.64814952],
       [-1.75359508, -1.37538601],
       [-0.77239133,  0.4863394 ],
       [-0.28178945,  1.09721805],
       [ 1.38625693, -0.93904411],
       [ 0.79753468,  0.10817643],
       [ 0.11069205, -0.82268628],
       [ 1.77873843, -0.29907601],
       [-1.55735433, -1.25902817],
       [-0.87051171,  0.28271318],
       [ 0.89565505, -1.37538601],
       [ 2.07309956,  0.16635535],
       [-1.85171546, -1.49174384],
       [ 1.28813655, -1.37538601],
       [ 0.40505317,  0.28271318],
       [-0.0855487 , -0.50270222],
       [ 1.68061805,  1.59173886],
       [-1.85171546, -1.43356492],
       [ 0.79753468, -0.85177573],
       [-1.85171546, -0.00818141],
       [-0.18366908,  2.14443859],
       [-0.96863208,  0.25362372],
       [ 0.20881242,  1.06812859],
       [-0.28178945,  0.13726589],
       [-0.0855487 , -0.4445233 ],
       [ 0.01257167, -0.15362871],
       [-1.16487283, -1.17175979],
       [-1.94983583, -0.06636033],
       [ 0.99377543, -1.08449141],
       [-1.36111358, -0.4445233 ],
       [-1.94983583, -0.53179168],
       [ 0.89565505, -1.46265438],
       [-1.75359508, -0.61906006],
       [ 0.60129393,  1.99899129],
       [-0.87051171, -0.26998655],
       [-0.67427095,  0.02090805],
       [ 0.99377543, -0.85177573],
       [-0.37990983, -0.79359682],
       [-1.26299321,  0.25362372],
       [ 1.4843773 ,  0.3408921 ],
       [ 0.01257167, -0.4445233 ],
       [-1.26299321,  0.28271318],
       [-0.0855487 ,  0.28271318],
       [-1.06675246, -1.14267033],
       [ 2.17121993,  0.92268129],
       [-1.16487283,  1.38811264],
       [-0.67427095,  0.10817643],
       [-0.67427095,  0.16635535],
       [ 0.3069328 , -0.56088114],
       [-0.28178945, -0.38634438],
       [ 1.38625693,  0.57360778],
       [-0.96863208,  0.4863394 ],
       [-0.96863208, -0.32816546],
       [-1.06675246,  1.94081237],
       [ 0.40505317,  0.57360778],
       [ 0.89565505,  2.14443859],
       [ 0.11069205, -0.32816546],
       [-0.4780302 ,  1.24266535],
       [ 1.38625693,  1.96990183],
       [-1.85171546,  0.42816048],
       [-1.06675246, -0.35725492],
       [-1.45923396, -1.46265438],
       [ 0.89565505, -1.05540195],
       [-0.28178945, -0.5899706 ],
       [ 1.77873843,  1.82445454],
       [ 1.58249768, -1.28811763],
       [-0.28178945, -0.67723898],
       [-0.0855487 ,  0.22453427]])

In [34]:
X_train.min(axis=0)

array([-1.94983583, -1.60810168])

In [35]:
X_train.max(axis=0)

array([2.17121993, 2.31897535])

In [37]:
X_test.min(axis=0)

array([-1.94983583, -1.49174384])

In [38]:
X_test.max(axis=0)

array([2.17121993, 2.14443859])

## 5. Training a Logistic Regression Model
https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

#### Learned Logistic Regression Model

Therefore, the parameters learned for our **logistic regression model**, from the training set used, were:

$\theta^T = [\theta_0, \theta_1, \theta_2] = [-0.995, 1.96, 1.13]$

<span style="font-size: 20pt">
$
h_\theta(x) = \frac{1}{1 + e^{-\theta^{T}*x}} = \frac{1}{1 + e^{-(-0.995 + 1.96 * x_1 + 1.13 * x_2)}}
$
</span>

## 6. Visualizando o Modelo

## 2D

#### **Decision boundary**

Considering two dependent variables, the _decision boundary_ is a vertical plane:

<span style='font-size: 20pt'>
$\theta_0 + \theta_1 * x_1 + \theta_2 * x_2 = 0$

$\theta_1 * x_1 + \theta_2 * x_2 = -\theta_0$
    
$x_2 = - (\theta_0 + \theta_1 * x_1) / \theta_2$
</span>

In [ ]:
theta_0 = classifier.intercept_[0]
theta_1 = classifier.coef_[0, 0]
theta_2 = classifier.coef_[0, 1]

In [ ]:
x1_decision_line = np.array([X_train[:,0].min(), X_train[:,0].max()])

In [ ]:
x2_decision_line = -(theta_0 + (theta_1 * x1_decision_line)) / theta_2

#### **Putting it all together**

In [ ]:
prob_train = classifier.predict_proba(X_train)[:,1].round(2)

In [ ]:
df_train = df.loc[train_indices, ['Age', 'EstimatedSalary', 'Purchased']].copy()
df_train

In [ ]:
df_train['Normalized Age'] = X_train[:,0]
df_train['Normalized Salary'] = X_train[:,1]
df_train['Estimated Prob'] = classifier.predict_proba(X_train)[:,1].round(2)

df_train['Purchased'].replace(0, 'No', inplace=True)
df_train['Purchased'].replace(1, 'Yes', inplace=True)

df_train.head()

In [ ]:
# interactive plot by Plotly

import plotly.express as px
import plotly.graph_objects as go

fig = px.scatter(df_train, x='Normalized Age', y='Normalized Salary', color='Purchased', hover_data=['Age', 'EstimatedSalary', 'Estimated Prob'], color_discrete_sequence=px.colors.qualitative.T10)
fig.add_trace(go.Scatter(x=x1_decision_line, y=x2_decision_line, mode='lines', name='Decision Boundary'))

fig.update_layout(title='Training set and Decision Boundary',
                  xaxis_title='Normalized Age', yaxis_title='Normalized Salary', width=700, height=600)
fig.update_xaxes(range=[X_train.min() - 0.5, X_train.max() + 0.5])
fig.update_yaxes(range=[X_train.min() - 0.5, X_train.max() + 0.5])

fig.show()

In [ ]:
# The same static plot by SeaBorn

plt.figure(figsize=(8,8))

sns.scatterplot(data=df_train, x='Normalized Age', y='Normalized Salary', hue='Purchased')
sns.lineplot(x=x1_decision_line, y=x2_decision_line, color='lightseagreen')

lim = df_train[['Normalized Age', 'Normalized Salary']].min().min() - 0.5, df_train[['Normalized Age', 'Normalized Salary']].max().max() + 0.5
plt.xlim(lim)
plt.ylim(lim)

## 3D

#### **Learned model (sigmoid)**

In [ ]:
x_sig = np.arange(X_train[:,0].min() - 0.25, X_train[:,0].max() + 0.25, step=0.1)
y_sig = np.arange(X_train[:,1].min() - 0.25, X_train[:,1].max() + 0.25, step=0.1)
xv, yv = np.meshgrid(x_sig, y_sig)  # combinação dos x's e y's
z_sig = classifier.predict_proba(np.array([xv.ravel(), yv.ravel()]).T)[:,1].reshape(xv.shape)

#### **Plane at the 50% Probability%**

In [ ]:
x1_plane = [X_train[:,0].min(), X_train[:,0].max()]
x2_plane = [X_train[:,1].min(), X_train[:,1].max()]
z_plane = [[0.5, 0.5], [0.5, 0.5]]

#### **Decision Boundary**

Considering two dependent variables, the _decision boundary_ is a vertical plane:

<span style='font-size: 20pt'>
$\theta_0 + \theta_1 * x_1 + \theta_2 * x_2 = 0$

$\theta_1 * x_1 + \theta_2 * x_2 = -\theta_0$
    
$x_2 = - (\theta_0 + \theta_1 * x_1) / \theta_2$
</span>

In [ ]:
theta_0 = classifier.intercept_[0]
theta_1 = classifier.coef_[0, 0]
theta_2 = classifier.coef_[0, 1]

In [ ]:
x1_decision = np.arange(X_train[:,0].min(), X_train[:,0].max(), step=0.1)
z_decision = np.linspace(0, 1.0, x1_decision.size)

In [ ]:
X1_decision, Z_decision = np.meshgrid(x1_decision, z_decision)
X2_decision = -(theta_0 + (theta_1 * X1_decision)) / theta_2

#### **Putting it all together**

In [ ]:
# https://stackoverflow.com/a/53116010

import plotly.graph_objects as go

fig = go.Figure(data=[
                    go.Surface(x=X1_decision, y=X2_decision, z=Z_decision, colorscale=[[0, 'paleturquoise'], [1.0, 'paleturquoise']]),
                    go.Surface(x=x1_plane, y=x2_plane, z=z_plane, colorscale=[[0, 'gray'], [1.0, 'gray']]),
                    go.Scatter3d(x=X_train[:,0], y=X_train[:,1], z=y_train, mode='markers',
                                marker=dict(size=6, color=y_train, colorscale=[[0, '#4C78A8'], [1, '#F58518']], opacity=0.8)),
                    go.Surface(x=x_sig, y=y_sig, z=z_sig),
            ])

fig.update_layout(title='Training set and Decision Boundary',
                  scene=dict(xaxis_title='Normalized Age', yaxis_title='Normalized Salary', zaxis_title='Estimated Prob'), width=1200, height=1000)
fig.update_xaxes(range=[X_train.min() - 0.5, X_train.max() + 0.5])
fig.update_yaxes(range=[X_train.min() - 0.5, X_train.max() + 0.5])

fig.show()

## 7. Classification / Prediction

## 8. Metrics

## 5. Visualizing the Predictions

In [ ]:
plt.figure(figsize=(8,8))

sns.scatterplot(x=X_test[:,0], y=X_test[:,1], hue=y_test)
sns.lineplot(x=x1_decision_line, y=x2_decision_line, color='lightseagreen')

lim = X_test.min() - 0.5, X_test.max() + 0.5
plt.xlabel('Normalized Age')
plt.ylabel('Normalized Salary')
plt.xlim(lim)
plt.ylim(lim)